#btn-inicial{
  /*position: fixed; */
  text-align: center;

  margin-top: 100%;
  margin-bottom: 50%;

  width: 10rem;
  height: 6rem;
}
#btn-final{
  margin-top: 50%;
  margin-bottom: 50%;
  width: 10rem;
  height: 6rem;
}
html, body {
    height: 100%;
    margin: 0;
}

.masterHead {
    background: linear-gradient(-90deg, #003F58, #0089CB);
}

.titleHead {
    color: #fff;
    /*font-size: 13px;*/
    margin: 12px;
}

.fullscreen {
    min-height: 100%;
}

#form-encuesta{ /* Css para ocultar la encuesta previo al boton Empezar*/
    display: none;
}

label {
   text-indent: -15px;
   vertical-align: middle;
   padding-top: 5px;
}
.radios {
  width:20px; height:20px;
}

.checks {
  width:20px; height:30px;
}
