<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"> 

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <!--Bootstrap JS-->
	<script src="../bootstrap/js/bootstrap.min.js" ></script>
  </head>

<body style="font-family:Verdana;">

<!--<div class="container"> -->
	<div class="row" style="padding-top: 10px; padding-left: 20px; padding-right: 20px; padding-bottom: 20px; background-color:#f1f1f1">
		<div style="width: 100%;">
	  		<h3>Encuesta 2018</h3>
	  		<h4>Recuerde: la presente encuesta tiene caracter anónimo.</h4>
		</div>
		
	</div>
  </div>
  	<div class="row">
  		<div class="col">
    		<div class="list-group" id="list-tab" role="tablist">
	      		<p class="list-group-item list-group-item-info" id="encabezadoForm" role="tab" aria-controls="home">Indique cada opcion que considere correcta
	      			<span id="nro_preguntas" class="badge badge-light" style="position: absolute; top: 15px; right: 16px;">1/20</span>
	      		</p>

		  		<form class="main" >
		  			<div class="container">
						<h6 class="tittleOptions">1 - Indique su sexo:</h6>
						<div>
							<input type="radio" name="gender" value="male" checked> Femenino<br>
							<input type="radio" name="gender" value="female"> Masculino<br>
							<input type="radio" name="gender" value="other"> Otros<br>
						</div>
						<h6 class="tittleOptions">2 - Rango de edad:</h6>
						<div>
							<input type="radio" name="gender" value="male" checked> 18 - 29<br>
							<input type="radio" name="gender" value="female"> 30 - 59<br>
							<input type="radio" name="gender" value="other"> 60 - más<br>
						</div>
					</div>
		  		</form>
		  		
  			</div>
  		</div>	
	</div>
		<div class="col-md" style="text-align: center; padding-top: 17%;">
			<button type="button" class="btn btn-primary btn-md" >Siguiente</button>
		</div>

<!-- </div> -->

</body>

<footer class="footer navbar-fixed-bottom" style="position: absolute;bottom: 0;width: 100%;height: 40px;">
<p style="background-color:#f1f1f1;text-align:center;padding:10px;margin-top:50px;font-size:12px;">
Copyrigth (C) - Municipalidad de Resistencia</p>
</footer>

</html>